<!DOCTYPE html>
<html>
    <head>
        {{with .SiteTitle}}<title>{{.}}</title>{{end}}
        {{with .CSS}}<link href="{{.}}" rel="stylesheet">{{end}}
    </head>
    <body>
        <header>
            {{with .Logo}}<a href="/">{{.}}</a>{{end}}
            {{with .SiteTitle}}<h1>{{.}}</h1>{{end}}
        </header>
        {{with .Nav }}<nav>{{.}}</nav>{{end}}
        <section>
            <h2>{{.Title}}</h2>
            <div class="byline">{{.Byline}}</div>
            {{.Article}}
        </section>
        <footer>
            {{.SiteInfo}} 
            {{.SiteCopyright}}
        </footer>
    </body>
</html>
