<!DOCTYPE html>
<html>
<head>
    <title>{{.SiteTitle}}</title>
    <link href="{{ .CSS }}" rel="stylesheet" />
<head>
<body>
    <header>
        {{with .Logo}}{{.}}{{end}}
        <h1>{{.SiteTitle}}</h1>
        {{with .SiteSlogan}}{{.}}{{end}}
    </header>
    {{with .Nav}}<nav>{{.}}</nav>{{end}}
    {{with .Content}}<section>{{.}}</section>{{end}}
    <footer>
    {{with .SiteInfo}}{{.}}{{end}}
    {{with .SiteCopyright}}{{.}}{{end}}
    </footer>
</body>
</html>
