<!DOCTYPE html>
<html>
    <head>
        {{with .SiteTitle}}<title>{{.}}</title>{{end}}
        {{with .CSS}}<link href="{{.}}" rel="stylesheet">{{end}}
    </head>
    <body>
        <header>
        {{with .Logo}}{{.}}{{end}}
        {{with .SiteTitle}}<h1>{{.}}</h1>{{end}}
        </header>
        <section>
        {{with .SiteSlogan}}<h2>{{.}}</h2>{{end}}
        {{with .SiteDescription}}{{.}}{{end}}
        {{with .Content}}{{.}}{{end}}
        {{with .ArticleList}}<p>{{.}}{{end}}
        </section>
        {{with .Nav }}<nav>{{.}}</nav>{{end}}
        <footer>
            {{.SiteInfo}} 
            {{.SiteCopyright}}
        </footer>
    </body>
</html>
